*{
    margin: 0;
    padding: 0;
    background: #2f3542;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .calculator{
    width: 30rem;
    height: 30rem;
    background: #1b1b1b;
    border-radius: 15px;
}
/*------------SCREEN------------*/
.container .calculator .screen{
    margin: 30px;
    padding: 30px 6px;
    border-radius: 10px;
    border-color: #1b1b1b;

}
.container .calculator .screen .show-result{
    width: 100%;
    border: none;
    color: #fff;
    font-size: 18px;
    outline: none;
}
.container .calculator .screen .show-result h1{
    position: fixed;
    margin-top: -23px;
    color: #fff;
    font-size: 30px;
}

/*------------NUMBERS------------*/
.container .calculator .data{
    width: 86%;
    height: 66%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}
.container .calculator .data input{
    border: 1px solid rgb(105, 105, 105);
    height: 3.5rem;
    min-width: 6rem;
    color: orangered;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-size: 16px;
    outline: none;
}
.container .calculator .data .large{
    border: none;
    min-width: 12.6rem;
    background: greenyellow;

}
.container .calculator .data .large-o{
    min-width: 12.6rem;
    background: #2f3542;
}

.container .calculator .data input:hover{
    border: none;
    background-color: orangered;
    color: #fff;
    cursor: pointer;
}

/*-------------SPACE IN BLANK-------------*/
.container .calculator .data .space{
    justify-content: space-between;
    background: transparent;
    border: none;
}
.container .calculator .data .space:hover{
    background-color: transparent;
    border: none;
    cursor:default;
}

@media (max-width: 472px) {
    .container .calculator{
        width: 20rem;
    }
    .container .calculator .data input{
        min-width: 4rem;
    }
    .container .calculator .data .large, .container .calculator .data .large-o {
        min-width: 8.5rem;
    }
}